.noResults {
  background-color: #f6f6f6;
  padding: 70px 0;

  &__box {
    display: flex;
    align-items: center;
    color: #a9a9a9;

    @include mobile {
      display: block;
    }

    h3 {
      font-size: 45px;
      font-weight: 700;
    }

    p {
      font-size: 16px;
      margin-top: 13px;
      line-height: 27px;
    }

    &__icon--left {
      margin-left: 39%;

      @include mobile {
        display: flex;
        justify-content: center;
        margin-top: 37px;
        margin-left: auto;
      }
    }
  }
}
