.plants {
  background-color: #f6f6f6;
  padding: 37px 0 59px;

  &__box {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;

    &__card {
      background: white;
      padding: 19px;
      border-radius: 5px;

      &__icons {
        height: 18px;

        img {
          height: inherit;
          margin-left: 8px;
        }
      }

      h3,
      &__prince {
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        color: #257556;
      }

      &__image {
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: inherit;
        }
      }

      &__footer {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  h2 {
    font-size: 55px;
    font-weight: 700;
    color: #0c261c;
    margin: 20px 0 54px;
  }
}
